{% extends "layout.html" %}
{% load static %}

{% block vendor %}

{% endblock vendor %}

{% block title %}
    Semua Admin
{% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="py-3 mb-2"><span class="text-muted fw-light">Data Admin /</span> Semua Admin</h4>

    <div class="card">
        <div class="card-header">
            <div class="row align-items-end">
                <div class="col-md-4 mb-3 mb-md-0">
                    <label class="form-label">Cari</label>
                    <input type="search" class="form-control" placeholder="Cari anggota..." v-model="search" @change="getDatas(1)">
                </div>
                <div class="col-md-8">
                    <a href="{% url 'admin_add_views' %}" class="btn btn-primary float-start float-md-end">
                        <i class="ti ti-plus me-2"></i>
                        <span>Tambah Admin</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table border-top text-nowrap">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Nama Lengkap</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Terakhir Login</th>
                        <th class="text-center">Status Akun</th>
                        <th class="text-center">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data, i) in datas" :key="data.uuid" class="text-center">
                        <td>[[ i+1 ]]</td>
                        <td>
                            <div class="d-flex justify-content-start align-items-center customer-name">
                                <div class="avatar-wrapper">
                                    <div class="avatar me-2">
                                        <img :src="'https://ui-avatars.com/api/?name=' + data.name + '&background=random'" alt class="h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="d-flex flex-column text-start">
                                    <span class="fw-medium">[[ data.name ]]</span>
                                </div>
                            </div>
                        </td>
                        <td>[[ data.username ]]</td>
                        <td>[[ data.last_login ]]</td>
                        <td>
                            <span v-if="data.is_active" class="badge bg-label-success">Aktif</span>
                            <span v-else class="badge bg-label-danger">Nonaktif</span>
                        </td>
                        <td>
                            <div class="d-flex align-items-sm-center justify-content-sm-center">
                                <button class="btn btn-sm btn-icon delete-record me-2 text-danger" @click="deleteData(data.uuid, data.name)"><i class="ti ti-trash"></i></button>
                                <a :href="'/admins/' + data.uuid" class="btn btn-sm btn-icon"><i class="ti ti-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="datas.length == 0">
                        <td colspan="6" class="text-center">Tidak ada data yang dapat ditampilkan</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row align-items-center">
                <div class="col-xl-6 mb-3 mb-sm-0">
                    <p class="mb-0 text-center text-sm-start">Halaman <b>[[ pagination.current_page_number ]]</b> dari <b>[[ pagination.total_page ]]</b> / <b>[[ pagination.total_data ]]</b> data</p>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex justify-content-center justify-content-sm-end">
                        <button class="btn btn-primary me-2" @click="previousPage" :disabled="!pagination.has_previous">Previous</button>
                        <button class="btn btn-primary" @click="nextPage" :disabled="!pagination.has_next">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'assets/js/pages/page-list-admin.js' %}"></script>
{% endblock script %}