{% extends "layout.html" %}
{% load static %}

{% block vendor %}

{% endblock vendor %}

{% block title %}
    Pengaturan Password
{% endblock title %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y" id="app">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Akun /</span> Pengaturan Password</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-4">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'akun_views' %}"><i class="ti-xs ti ti-users me-1"></i>Akun</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="ti-xs ti ti-lock me-1"></i> Password</a>
                </li>
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">Detail Profil</h5>
                <div class="card-body">
                    <form id="formAccountSettings" @submit.prevent="onSubmit">
                        <div class="row">
                            <div class="mb-3 col-md-6 form-password-toggle">
                                <label class="form-label" for="currentPassword">Password Sekarang</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control" :type="showCurrentPassword ? 'text' : 'password'" name="currentPassword" id="currentPassword" v-model="form.current_pw"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span @click="showCurrentPassword = !showCurrentPassword" class="input-group-text cursor-pointer"><i :class="showCurrentPassword ? 'ti ti-eye' : 'ti ti-eye-off'"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6 form-password-toggle">
                                <label class="form-label" for="newPassword">Password Baru</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control" :type="showNewPassword ? 'text' : 'password'" id="newPassword" name="newPassword" v-model="form.new_pw"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span @click="showNewPassword = !showNewPassword" class="input-group-text cursor-pointer"><i :class="showNewPassword ? 'ti ti-eye' : 'ti ti-eye-off'"></i></span>
                                </div>
                            </div>
                        
                            <div class="mb-3 col-md-6 form-password-toggle">
                                <label class="form-label" for="confirmPassword">Konfirmasi Password Baru</label>
                                <div class="input-group input-group-merge">
                                    <input class="form-control" :type="showConfirmPassword ? 'text' : 'password'" name="confirmPassword" id="confirmPassword" v-model="form.confirm_pw"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                    <span @click="showConfirmPassword = !showConfirmPassword" class="input-group-text cursor-pointer"><i :class="showConfirmPassword ? 'ti ti-eye' : 'ti ti-eye-off'"></i></span>
                                </div>
                            </div>
                            <div class="col-12 mb-4">
                                <h6>Persyaratan Kata Sandi:</h6>
                                <ul class="ps-3 mb-0">
                                    <li class="mb-1">Panjang minimal 8 karakter - semakin banyak, semakin baik</li>
                                    <li class="mb-1">Setidaknya satu karakter huruf besar</li>
                                    <li>Setidaknya satu angka atau simbol</li>
                                </ul>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary me-2">Simpan Perubahan</button>
                                <a href="{% url 'dashboard_views' %}" class="btn btn-label-secondary">Batal</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'assets/js/pages/page-password.js' %}"></script>
{% endblock script %}